     {
      "cm" : {
        "host" : "cm-api-test-1.vpc.cloudera.com",
        "port" : "7180",
        "user" : "admin",
        "password" : "admin",
        "ssl" : "false",
        "config" : {
          "remote_parcel_repo_urls" : "http://archive.cloudera.com/cdh5/parcels/5.12.2.4/"
         }
      },
      "hostsconfig" : {
        "rm_enabled" : "true"
      },
      "mgmt" : {
        "default_host" : "cm-api-test-1.vpc.cloudera.com",
        "services" : [
          {
            "name" : "ALERTPUBLISHER"
          },
          {
            "name" : "EVENTSERVER"
          },
          {
            "name" : "HOSTMONITOR",
            "config" : {
              "firehose_non_java_memory_bytes": "4294967296"

            }
          },
          {
            "name" : "SERVICEMONITOR",
            "config" : {
              "firehose_non_java_memory_bytes" : "4294967296"
            }
          },
          {
            "name" : "REPORTSMANAGER",
            "config" : {
              "headlamp_database_host" : "cm-api-test-1.vpc.cloudera.com",
              "headlamp_database_name" : "reportsmanager7b2f2b05dfd422c5b4583adca63de090",
              "headlamp_database_password" : "cloudera",
              "headlamp_database_type" : "mysql",
              "headlamp_database_user" : "root"
            }
          },
          {
           "name": "NAVIGATOR",
           "config": {
            "navigator_database_host": "cm-api-test-1.vpc.cloudera.com",
            "navigator_database_name": "navigator7b2f2b05dfd422c5b4583adca63de090",
            "navigator_database_password": "cloudera",
            "navigator_database_type": "mysql",
            "navigator_database_user": "root"
          }
        },
        {
         "name": "NAVIGATORMETASERVER",
         "config": {
          "nav_metaserver_database_host": "cm-api-test-1.vpc.cloudera.com",
          "nav_metaserver_database_name": "navigatormetaserver7b2f2b05dfd422c5b4583adca63de090",
          "nav_metaserver_database_password": "cloudera",
          "nav_metaserver_database_type": "mysql",
          "nav_metaserver_database_user": "root"
        }
      }
    ]
      }
    }

